<% provide(:title, 'About') %>
<h1>About</h1>
<p>
<!-- john-ashmead.jpg is 1024 × 1536 pixels, exactly 2 to 3 -->
<%= link_to image_tag("john-ashmead.jpg", alt: "John Ashmead", width: 300), 'http://www.ashmeadsoftware.com/' %>
</p>
